# dependencies
node_modules

# IDE
/.idea
/.awcache
/.vscode



dist
.history
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

error.log
combined.log

